/* // .main{
//     background-color: #0e7490;
//     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//     width: 100%;
//     .container {
//         max-width: 1440px;
//         margin: 0 auto;
//         padding: 8px 20px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;

//         .logo{
//             img{
//                 max-height: 50px;
//             }
//         }
        
//         .nav{
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             .search{
//                 position: relative;
//                 input{
//                     width: 220px;
//                     height: 40px;
//                     border: 0px;
//                     background-color: darken(#0e7490, 10%);
//                     padding-right: 40px;
//                     padding-left: 10px;
//                     font-family: 'Raleway', sans-serif;
//                     transition: 0.4s all ease-in-out;
//                     color: #fff;
//                     &:focus{
//                         outline: none;
//                         width: 300px;
//                     }
//                     &::placeholder{
//                         font-family: 'Raleway', sans-serif;
//                         color: #fff;
//                         font-size: 14px;
//                     }
//                 }
//                 .icon{
//                     position: absolute;
//                     top:5px;
//                     right: 5px;
//                     width: 30px;
//                     height: 30px;
//                     cursor: pointer;
//                     transition: 0.4s all ease-in-out;
//                     svg{
//                         path{
//                             stroke:white;
//                         }
//                     }
//                     &:hover{
//                         transform: scale(1.05);
//                     }
//                 }
//             }

//             .links{
//                 ul{
//                     list-style: none;
//                     padding: 0px;
//                     margin: 0px;
//                     margin-left: 24px;
//                     display: flex;
//                     align-items: center;

//                     li{
//                         margin-right: 12px;
//                         a{
//                             color: #fff;
//                             font-weight: 'Raleway', sans-serif;
//                             font-size: 16px;
//                             text-decoration: none;
//                             position: relative;


//                             &:after{
//                                 content: '';
//                                 position: absolute;
//                                 bottom: -5px;
//                                 left: 0px;
//                                 width: 0%;
//                                 height: 2px;
//                                 background-color: #fff;
//                                 transition: 0.4s all ease-in-out;
//                             }

//                             &:hover{
//                                 &:after{
//                                     width: 100%;
//                                     right: 0;
//                                 }
//                             }
//                         }
//                     }
//                 }
                

//             }

//             .user{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 .login{
//                     color: #fff;
//                     font-weight: 'Raleway', sans-serif;
//                     font-size: 16px;
//                     text-decoration: none;
//                     position: relative;
//                     &:after{
//                         content: '';
//                         position: absolute;
//                         bottom: -5px;
//                         left: 0px;
//                         width: 0%;
//                         height: 2px;
//                         background-color: #fff;
//                         transition: 0.4s all ease-in-out;
//                     }

//                     &:hover{
//                         &:after{
//                             width: 100%;
//                             right: 0;
//                         }
//                     }
//                 }
//             }

//             .dropdown{
//                 margin-right: 30px;
//                 margin-left: 30px;
//                 cursor: pointer;
//                 .dropdownIcon{
//                     transition: 0.4s transform cubic-bezier(0,.94,.31,.88);
//                     &.reverse{
//                         transform: rotate(180deg);
//                     }
//                     svg{
//                         width: 40px;
//                         height: 40px;
//                         animation: shake 5s;
//                         animation-iteration-count: infinite;

//                         &:hover{
//                             animation: none;
//                         }
//                         path{
//                             stroke: #fff;
//                         }
//                     }
//                 }
//             }

//             @keyframes shake {
//                 0% { 
//                     transform: translateY(-3px); 
//                 }
//                 50% { 
//                     transform: translateY(3px); 
//                 }
//                 100% { 
//                     transform: translateY(-3px); 
//                 }
//             }
//         }
//     }
// } */


nav{
    height: 50px;
    background-color: #0e7490;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .unearth{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 50px;
            width: 50px;
            margin-left: 3px;
        }
        h1{
            margin-left: 3px;
            color: #fff;
        }
    }
}

.liste{
    width: auto;
    list-style-type: none;
    background: #0e7490;
    //height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.items{
    height: 50px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #5D93E0;
    }
    a{   
        color: #fff;
        font-weight: 'Raleway', sans-serif;
        font-size: 16px;
        text-decoration: none;   

        &:after{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 0%;
            height: 3px;
            background-color: #fff;
            transition: 0.4s all ease-in-out;
            
        }

        &:hover{
            &:after{
                width: 100%;
                right: 0;
            }
        }
        
    }
}
    

.btn{
    display: none;
}

@media screen and (max-width: 500px){
    nav{
        flex-wrap: wrap;
    }
    .liste{
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .items:nth-child(1){
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .items{
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }
    .btn{
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        color: #f1f1f1;
        cursor: pointer;
        svg{
            width: 40px;
            height: 40px;
            animation: shake 5s;
            animation-iteration-count: infinite;

            &:hover{
                animation: none;
            }
            path{
                stroke: #fff;
            }
        }

        @keyframes shake {
            0% { 
                transform: translateY(-3px); 
            }
            50% { 
                transform: translateY(3px); 
            }
            100% { 
                transform: translateY(-3px); 
            }
        }
    }
}

